@charset "UTF-8";

body {
    background-color: #90DB99;
}

#principal {
    text-align: center;
    border-radius: 10px;
    background-color: #042940;
    color: #E05CC5;
    
}

.basico {
    color: #9C5EA8;
}

.intermediario {
    color: #DB6589;
}

.avancado {
    color: #420B1C;
}

.destaque {
    background-color: #DBD265;
    border-radius: 2px;
}